.todo-list {
  box-sizing: border-box;
  padding-left: 0;
  list-style-type: none;
  width: 60%;
  text-overflow: ellipsis;
  margin: 1rem auto;
}

@media screen and (min-width: 48rem) {
  .todo-list {
    width: 40%;
  }
}